header{
    position: sticky;
    z-index: 30;
    top: 0;
}

.guns-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-navbar);
    height: 100px;
    border-bottom: 1px solid var(--color-primary);
}

.guns-navbar-logo img{
    display: block;
    user-select: none;
    height: 120px;
    width: auto;
}

.guns-navbar-button{
    display: block;
    margin-top: 10px;
}

.guns-navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 20%;
    right: 5%;
    transform: translate(5%, 30%);
    position: absolute;
    cursor: pointer;
    background-color: #000;
    padding: 5px 10px;
    transition: all 300ms ease-in-out;
}

.guns-navbar-menu:hover{
    background-color: var(--color-white);
}

.guns-navbar-menu:hover div{
    background-color: var(--color-navbar);
}

.guns-navbar-menu div{
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    transition: all 300ms ease-in-out;
    background-color: var(--color-primary);
}

.guns-navbar-menu div:nth-child(2){
    width: 20px;
}

.guns-navbar-menu div:nth-child(3){
    width: 15px;
}

#guns-menu.active{
    background-color: var(--color-white);
    overflow: hidden;
}

#guns-menu.active:hover div:nth-child(1), #guns-menu.active:hover div:nth-child(3){
    background-color: var(--color-primary);
}

#guns-menu.active div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--color-navbar);
}

#guns-menu.active div:nth-child(2){
    opacity: 0;
}

#guns-menu.active div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--color-navbar);
    width: 25px;
}

.guns-navbar-list{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    width: 100%;
    row-gap: 24px;
    right: -100%;
    align-items: flex-end;
    padding: 24px 16px;
    transition: all 200ms ease-in-out;
    min-height: calc(100vh - 60px);
    background-color: var(--color-navbar);
}

.guns-navbar-list.active{
    right: 0;
}

.guns-navbar-link{
    font-size: 17px;
    color: var(--color-white);
    position: relative;
    transition: all 200ms ease-in-out;
    text-transform: capitalize;
}

.guns-navbar-link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--color-primary);
    transition: all 200ms ease-in-out;
}
  
.guns-navbar-link:hover{
    color: var(--color-primary);
}   
  
.guns-navbar-link.active{
    color: var(--color-primary);
}


@media screen and (min-width: 960px) {    

    .guns-navbar{
        justify-content: space-around;
    }

    .guns-navbar-menu{
        display: none;
    }

    .guns-navbar-button{
        margin-top: 0;
    }

    .guns-navbar-list{
        position: unset;
        flex-direction: row;
        min-height: fit-content;
        width: fit-content;
        column-gap: 60px;
        align-items: center;
    }

    .guns-navbar-link::before{
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        bottom: -1px;
        left: 0;
        background-color: var(--color-primary);
        transition: all .3s ease-in-out;
    }
    
    .guns-navbar-link:hover:before{
        width: 100%;
    }
  
    .guns-navbar-link.active{
        font-weight: bold;
    }
  
    .guns-navbar-link.active::before{
        width: 100%;
    }

    .guns-navbar-link{
        padding: 0px;
        border-radius: 5px;
    }
}