.container--midia{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.container__content--midia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container__content--title--midia{
    margin-bottom: 10px;
}

.container__content--title--midia h1{
    font-size: 5rem;
    padding-bottom: 2px;
    color: #54A824;
    border-bottom: 1px solid #54A824;
    font-family: progress, sans-serif;
}

.container__content--text--midia p{
    font-family: progress, sans-serif;
}

@media screen and (max-width: 960px) {
    .container__content--title--midia h1{
        font-size: 3.5rem;
    }
}