.button-galery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-galery .button-galery--item{
    margin: 10px;
}

.button-galery .button-galery--item button{
    background: none;
    border: 1px solid #54A824;
    border-radius: 5px;
    padding: 20px 50px;
    color: #54A824;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
}

.button-galery .button-galery--item button:hover{
    background: #54A824;
    color: #fff;
}

.button-galery .button-galery--item button.active{
    background: #54A824;
    color: #fff;
}

.galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 10px;
}

.galery .galery-item{
    margin: 10px;
    width: 300px;
    border: 1px solid rgba(84, 168, 36, .5);
    padding: 10px;
}

.galery .galery-item img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 968px){
    .galery .galery-item{
        width: 100%;
    }
}