.button-galery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-galery .button-galery--item{
    margin: 10px;
}

.button-galery .button-galery--item button{
    background: none;
    border: 1px solid #54A824;
    border-radius: 5px;
    padding: 20px 50px;
    color: #54A824;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
}

.button-galery .button-galery--item button:hover{
    background: #54A824;
    color: #fff;
}

.button-galery .button-galery--item button.active{
    background: #54A824;
    color: #fff;
}

.galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 10px;
}

.galery .galery-item{
    margin: 10px;
    width: 300px;
    border: 1px solid rgba(84, 168, 36, .5);
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.galery .galery-item:hover{
    opacity: .6;
}

.galery .galery-item img{
    max-width: 100%;
    height: auto;
}

.toast {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background-color: rgb(0 0 0 / 90%);
    outline: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.toast--item {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast--item img {
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 800px;
}

@media screen and (max-width: 968px){
    .galery .galery-item{
        width: 100%;
    }

    .galery .galery-item img{
        width: 100%;
    }

    .toast--item img{
        width: auto;
        height: auto;
        max-width: 80%;
        max-height: 50%;
    }
}