*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

:root{
  --color-primary: #54a727;
  --color-secondary: #345f1e;
  --color-background: #000008;
  --color-navbar: #1b1b1b;
  --color-white: #fcfcfc;
  --color-gray: #b1b1b1;
}

html{
  scroll-behavior: smooth;
}

body{
  color: var(--color-white);
  background-color: var(--color-background);
}