.modal{
    width: 100%;
    height: 100%;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-content{
    margin: 20px 30px;
    width: 30%;
    padding: 20px 20px 5px 20px;
    border-radius: 5px;
    background-color: #0b0b0b;
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: 2px solid #54A824!important;
    cursor: pointer!important;
}

.carousel .thumb{
    border: 2px solid rgba(87, 170, 36, .3)!important;
}

.control-arrow{
    padding: 0 30px!important;
}

.control-arrow:hover{
    background: none!important;
}

.wallpaper-ca{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-align: center;
}

.wallpaper-ca#kdoswd992__{
    justify-content: flex-end;
}

.wallpaper-ca#jspqjw2od__dsk{
    justify-content: center;
}

.wallpaper-ca .title-box{
    position: absolute;
    z-index: 1;
}

.wallpaper-ca .div-imgs{
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
}

.wallpaper-ca .div-imgs::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: rgba(0, 0, 0, 1);
}

.wallpaper-ca .div-imgs img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.wallpaper-ca#kdoswd992__ .box__container--main{
    text-align: right;
}

.wallpaper-ca#jspqjw2od__dsk .box__container--main{
    text-align: center;
}

.box__container--main{
    width: 100%;
    height: 100%;
    padding: 20px 200px;
    border-radius: 5px;
    text-align: left;
}

.box__content--main{
    margin: 25px 0;
}

.box__content--main h1{
    color: #fff;
    font-size: 55px;
    letter-spacing: 1px;
    max-width: 700px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #54A824;
    padding-bottom: 15px;
}

.box__content--main h1#title--uii{
    max-width: 450px;
}

.box__content--main p{
    font-size: 25px;
    color: #e2e2e2;
    font-family: 'Lato', sans-serif;
}

.box__content--main .box__content--main-itens-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.wallpaper-ca#kdoswd992__ .box__content--main .box__content--main-itens-container{
    justify-content: flex-end;
}

.wallpaper-ca#jspqjw2od__dsk .box__content--main .box__content--main-itens-container{
    justify-content: center;
}

.box__content--main .box__content--main-itens-container .box__content--main-itens-content{
    margin: 10px 15px;
    transform: scale(1.3);
}

.box__content--main .box__content--main-itens-container .box__content--main-itens-content a{
    color: #54A824;
    border: 1px solid #54A824;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    transition: all .3s ease-in-out;
}

.box__content--main .box__content--main-itens-container .box__content--main-itens-content a svg{
    width: auto;
    height: auto;
    transform: scale(auto);
}

.box__content--main .box__content--main-itens-container .box__content--main-itens-content a:hover{
    color: #fff;
    background-color: #54A824;
}

.box__content--main.button{
    margin-top: 40px;
}

.box__content--main.button a{
    color: #54A824;
    border: 1px solid #54A824;
    background: none;
    padding: 20px 50px;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.box__content--main.button a:hover{
    color: #fff;
    background-color: #54A824;
}

/* anim-custom */

.custom-carousel.animation-one .slide {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.custom-carousel.animation-one .slide.selected {
    opacity: 1;
    transform: translateY(0);
}

.custom-carousel.animation-two .slide {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.custom-carousel.animation-two .slide.selected {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width: 960px) {
    .modal-container{
        width: 100%;
    }
    
    .wallpaper-ca{
        height: 500px;
        justify-content: center;
    }

    .modal-content{
        width: 90%;
    }

    .box__container--main{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
    }

    .box__content--main .box__content--main-itens-container{
        justify-content: center;
    }

    .box__content--main h1{
        font-size: 35px;
        max-width: 100%;
    }

    .box__content--main p{
        font-size: 18px;
    }

    .box__content--main.button a{
        padding: 20px 20px;
        font-size: 15px;
    }

    .box__content--main{
        margin: 20px 0;
    }

    .control-arrow{
        padding: 0 5px!important;
    }

    .wallpaper-ca#kdoswd992__ .box__content--main .box__content--main-itens-container{
        justify-content: center;
    }
    
    .wallpaper-ca#kdoswd992__ .box__container--main{
        text-align: center;
    }
}