.modal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-container{
    width: 30%;
    margin: 20px;
}

.wallpaper-ca{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.wallpaper-ca .title-box{
    position: absolute;
    background-color: rgba(0, 0, 0,.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.imagem-wallpaper{
    position: relative!important;
    object-fit: cover!important;
    object-position: 50% 50%;
}

.imagem-wallpaper::before{
    content: ""!important;
    position: absolute!important;
    top: 0!important; 
    left: 0!important;
    width: 100%!important; 
    height: 100vh!important;
    opacity: .3!important; 
    z-index: -1!important;
    background-color: #000!important;
}

.modal-content{
    margin: 5px;
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: 2px solid #54A824!important;
    cursor: pointer!important;
}

.carousel .thumb{
    border: 2px solid rgba(87, 170, 36, .3)!important;
}

@media screen and (max-width: 960px) {
    .modal-container{
        width: 100%;
    }
}