.footer{
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-bottom: 50px;
    background: #0b0b0b;
}

.footer .container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .container-footer .content-footer{
    margin: 20px 100px;
}

.footer .container-footer .content-footer p.title-footer{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.footer .container-footer .content-footer a{
    color: #727272;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
}

.footer .container-footer .content-footer a:hover{
    color: #54A824;
}

.footer .container-footer .content-footer p.copyright{
    color: #54A824;
    max-width: 500px;
    margin: 20px 0;
}

.footer .container-footer .content-footer .payments img{
    width: 70px;
    margin-top: 15px;
    margin-right: 10px;
}

.footer .container-footer .content-footer a:hover{
    color: #54A824;
}

.footer .container-footer .content-footer .about-footer{
    height: 100%;
    width: 100%;
}

.footer .container-footer .content-footer .about-footer .about-footer-container{
    margin: 20px 0;
}

.footer .container-footer .content-footer .about-footer .about-footer-container .about-footer-content{
    margin: 10px 0;
}

.footer .container-footer .content-footer .about-footer .about-footer-container .about-footer-content a{
    position: relative;
}

.footer .container-footer .content-footer .about-footer .about-footer-container .about-footer-content a::before{
    content: '•';
    top: 0;
    bottom: 0;
    left: -8px;
    right: 0;
    position: absolute;
}

@media screen and (max-width: 960px) {
    .footer .container-footer{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .footer .container-footer .content-footer{
        width: 100%;
        margin: 20px 0;
    }
    
    .footer .container-footer .content-footer:nth-child(2), .footer .container-footer .content-footer:nth-child(3){
        border-top: 1px solid #54A824;
        width: 100%;
    }

    .footer .container-footer .content-footer:nth-child(2) p.title-footer, .footer .container-footer .content-footer:nth-child(3) p.title-footer{
        margin-top: 20px;
    }

    .footer .container-footer .content-footer .payments img{
        width: 50px;
    }

}